
.card{
    width: 300px;
    height: 300px;
   /* display: flex; */
    background: #000000;
    border-radius: 13px;
    
     border: solid 3px #57375D ;
    
}
.card:hover{
    transform:scale(1.1);
    transition: .5s;
    box-shadow:  0px -5px 55px #57375D;
    
}
.images{
    width: 190px;
    height: 190px;
    padding-left: 56px;
}
h1{
    text-align: center;
}
.skill1{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-bottom: 40px;
    
}