body {
  
    background-color: #001524;
     height: 100vh;
      color: whitesmoke;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.firstsection {
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
    align-items: center;
    
}

.leftsection {
    font-size: 2.5rem;
   
}
.buttons{
    padding-left: 150px;
       
}
.rightsection img{
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
 
}
.rightsection img:hover{
    transform: translateY(-50px);   
}
.purple {
    color: #F8DE22;
}
.btn{
    background-color: #A9A9A9;
    color: #fff;
    padding: 10px 20px;
    border: solid 2px white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;  
}

.btn:hover{
    background-color: #C3ACD0;
}
.buttons{
    display: flex;
}

@media (max-width:600px){
   .firstsection{
    display: flex;
    flex-direction: column;
   }
}